---
import {actions} from "astro:actions";
import Layout from '../layouts/Layout2.astro';
import AddClipForm from "../components/AddClipForm";
import LoginSection from "../components/LoginSection.astro";
import ExplainerSection from "../components/ExplainerSection";
import ClipsMain from "../components/solid/ClipsMain";
import {parseAcceptHeader} from "../lib/utils/parseAcceptHeader";

const {user} = Astro.locals

const order = (Astro.url.searchParams.get('order') ?? 'newestfirst') as "newestfirst" | "oldestfirst"
const {data: clips, error} = await Astro.callAction(actions.getClips, order)


const acceptLanguage = Astro.request.headers.get('accept-language') || 'en-US';
const languages = parseAcceptHeader(acceptLanguage)
const cf = Astro.locals.runtime.cf
const timezone = cf?.timezone ?? 'UTC'
---

<Layout>
    <div class="max-w-[1200px] mx-auto p-8 flex flex-col gap-6">
        {user && (
          <AddClipForm client:only="solid-js"/>)}

        {error && (
          <div class="bg-red-500 text-white p-4 rounded-md shadow-md">
              <p class="font-bold">Error:</p>
              <p>{error.message || JSON.stringify(error)}</p>
          </div>
        )}

        <ExplainerSection client:only="solid-js"/>

        {clips && (
          <ClipsMain client:only="solid-js" clips={clips} timezone={timezone} languages={languages} initOrder={order} />
        )}


        {!user && (
          <LoginSection/>)}

        {
          user && (
            <a href="/api/auth/logout" class:list={[
                'button px-3 py-2 text-center font-minecraft',
            ]}>Logout</a>
          )
        }

    </div>
</Layout>
